.main-container {
  margin: auto;
  padding: 1rem;
  max-width: 90%;
  min-width: 85%;
}

/* Start cards codes */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  padding: 3rem;
  border-radius: 1.5rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: calc(33.3333% - 2rem);
  margin: 1rem;
  text-align: center;
  vertical-align: top;
}

@media (max-width: 768px) {
  .card-container {
    width: calc(50% - 2rem);
  }

}

@media (max-width: 570px) {
  .card-container {
    width: calc(100% - 2rem);
  }
}

.card-inner {
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 200px;
  object-fit: cover;
  border-radius: 1.5rem;
}

.card-title {
  color: #000000;
  margin: 0;
  text-align: left;
}

.card-title-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f07a;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

/* ---------------------------- NOTES ---------------------------- */
/* 1. Forcer la height des cards, et peu importe la taille, ne PAS baisser, n'y augmenter la height */
/* 2. Ajouter encore un peu plus de padding aux titres (se referer à la maquette kasa) */

/* End cards codes */